@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  align-self: center;
  

}

#gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}


.polaroid {    
    background-color: white;    
    padding: 0.5vw;
    padding-bottom: 1.5vw;
    background: #ece9e6;
    background: linear-gradient(to bottom, #ece9e6, #fafafa);
    position: absolute;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

.image{
    width: 7.5vw;
    background-size: cover;
}

body{
  background-color: black;
  overflow: hidden;
  margin:unset;
}

header {
    color: white; 
    font-family: "Indie Flower", cursive;
}