
body{
  background-color: black;
  overflow: hidden;
  margin:unset;
}

header h1{
  color: white; 
  font-family: "Indie Flower", cursive;
  font-size: 60px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#text {
  color: white;
  font-family: "Indie Flower", cursive;
  z-index: 10;

  width: 20%;
  padding-left: 30px;
}

#gallery{
  width: 100vw;
  height: 100vh;
}

#insert {
  display: flex;
  flex-direction: row;
}


.polaroid {    
  background-color: white;    
  padding: 0.5vw;
  padding-bottom: 1.5vw;
  background: #ece9e6;
  background: linear-gradient(to bottom, #ece9e6, #fafafa);
  position: absolute;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  transition: all 0.5s ease;
}

.polaroid:hover {
  cursor: pointer;
}

.image{
  width: 7.5vw;
  background-size: cover;
}