body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    padding: unset;
}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-size: larger;
}

div {
    padding: unset;
}

/* ID's */

#header {
    border: 3px ;
    border-style: solid;
    border-image: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%) 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;


    height: 250px;
    width: auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,226,188,1) 100%);
    align-items: center;
}

#header h1 {
    margin: 0;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 64px;
    padding-top: 65px;
}
#header p {
    margin: 0;
    font-family: 'Krub', sans-serif;
    font-size: 24px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
    gap:20px;
    padding-top: 50px;
    justify-content: center;
}

#sidebar {
    width: 10%;
    height: auto;
    border: 1px solid black;
}

/* CLASS */
.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.studiosnexperiments {
    padding: 1em;
    width: 300px;

    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left,rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

.studiosnexperiments:hover {
    transform: scale(3px);
}




.experiments {
    padding: 1em;
    width: 300px;
    border-style: solid;

    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left,rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

.rnd {
    padding: 1em;
    width: 300px;
    border-style: solid;
    
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left,rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

.final {
    padding: 1em;
    width: 300px;
    border-style: solid;
    
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left,rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}