body {
    display: flex;
    flex-direction: column;
    margin: 0;

   background-image: url('photos/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    padding: unset;
}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-size: larger;
}

div {
    padding: unset;
}

div ul li {
    padding-left: 10%;
}

/* ID's */

#header {
/*     border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgb(255, 255, 255, 0) 100%, rgb(255, 255, 255,1) 100%, rgb(255, 255, 255,0) 100%) 1; */

    height: 250px;
    width: auto;
    align-items: center;
    /* background-image: url(photos/headerbackground.png);
    background-size: cover; */
}

#header h1 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 40;
    padding-top: 141px;
    text-align: center;
    color: white;

    letter-spacing: 30px;
}
#header p {
    margin: 0;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    
}

#content {
    display: flex;
    flex-direction: row;
    gap:68px;
    padding-top: 50px;
    justify-content: center;
}

#FULLBODY {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: auto;
}

#dot {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50%;
    width: auto;
}

/* CLASS */
.column {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.studiosnexperiments {
    padding: 1em;
    width: 239px;

    background: linear-gradient(to bottom, #cfdde9, white) padding-box,
    linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .2s ease;
}

.studiosnexperiments h1 {
    text-align: center;
    margin: unset;
}


.experiments {
    padding: 1em;
    width: 239px;
    border-style: solid;

    background: linear-gradient(to bottom, #cfdde9, white) padding-box,
    linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .2s ease;
}

.experiments h1 {
    text-align: center;
    margin: unset;
}

.rnd {
    padding: 1em;
    width: 239px;
    border-style: solid;
    
    background: linear-gradient(to bottom, #cfdde9, white) padding-box,
    linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .2s ease;
}

.rnd h1 {
    text-align: center;
    margin: unset;
}


.final {
    padding: 1em;
    width: 239px;
    border-style: solid;
    
    background: linear-gradient(to bottom, #cfdde9, white) padding-box,
    linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    
    transition: .2s ease;
}

.final h1{
    text-align: center;
    margin: unset;
}