body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
}

/* ID's */

#header {
    border-bottom: 1px solid black;
    height: 250px;
    width: auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,226,188,1) 100%);
    align-items: center;
}

#header h1 {
    margin: 0;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 64px;
    padding-top: 65px;
}
#header p {
    margin: 0;
    font-family: 'Krub', sans-serif;
    font-size: 24px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sidebar {
    width: 10%;
    height: auto;
    border: 1px solid black;
}

/* CLASS */