
#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: unset;

    z-index: 7;
}

#overlay article {
    box-sizing: border-box;
    background-color: #ffff;
    padding: 30px;
    width: 50vw;
    height: 42vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: unset;
    z-index: 7;
    border-radius: 20px;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#overlay article p {
    font-family: 'Raleway', sans-serif;

}


.hidden {
    display: none;
}

.showing {
    display: block;
}

.close {
    width: 30%;
    align-self: center;
    height: 35px;
    border-radius: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 6;

}


input[type=text] {
    padding:10px;
    margin:10px 0;
    border-radius: 10px;
    width: 222px;
    
    position: relative;
    z-index: 6;
}

/* #hidden {
    display: none;
}

#shown {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 20px;
    padding: 2em;

    animation: fadein 2s;
} */

#hiddeninput {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 20px;
    padding: 2em;

    animation: fadein 2s;
}

body {
    background-color: #BBDFC5;
    
    margin: unset;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

main {
    margin-left: 12%; 
}

header {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: #2A2D34;
    margin: unset;
    
    animation: fadein 2s;
    
    margin-left: 12%; 
}

header h1 {
    margin: unset;
    padding: 20px;
    
}

img { 
    width: 50%;
    height: auto;
    
    animation: fadein 2s;
}

label {
    font-family: 'Raleway', sans-serif;
    color: white;
}

input,label {   
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;
}

#myform {
    background-color: #2A2D34;
    border-radius: 50px;
    border: solid 1em white;
    width: 708px;
    height: 534px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}



#submit {
    width: 30%;
    align-self: center;
    height: 35px;
    border-radius: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    
    animation: fadein 2s;
    
    z-index: 6;
}

#input {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
    justify-content: center;
}

#collumn1 label, #collumn1 input, #collumn2 label, #collumn2 input {
    display: block;
}

#ghost {    
    animation: move-up-down 2s ease-in-out infinite;
    position: absolute;
    top: 22px;
    left: 724px;

}

#ghost2 {
    animation: move-down-up 2.5s ease-in-out infinite;
    position: absolute;
    top: -100px;
    left: 1075px;
}

#tree {    
    position: absolute;
    top: -341px;
    left: 1075px;
}

#midgrass {
    position: absolute;
    top: 133px;
    left: -332px;
    z-index: 5;
}

#midgrass1 {
    position: absolute;
    z-index: 5;
    top: -188px;
    /* transform: scalex(-1); */
    transform: scaley(-1);
    left: 715px;

}

#grass {
    position: absolute;
    top: 198px;
    left: 990px;
    z-index: 5;
}

#madlib {
    display: flex;
    justify-content: flex-end;
    margin-right: 80%;
}


/* ANIMATIONS */

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes move-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes move-down-up {
    0% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-30px);
    }
}

